DATABASE_URL=
REDIS_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET_NAME=
ENCRYPTION_MASTER_KEY=
AI_IMAGE_GENERATION_KEY=
LLM_NARRATIVE_API_KEY=
YOUTUBE_API_DATA_V3=
SMTP_SERVER=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
JWT_SECRET=
FRONTEND_URL=http://localhost:18956
